@use '../../../css/util' as u;

.profile {
  @media (min-width: 36em) {
    display: grid;
    gap: u.$about-gap;
    grid-template-columns: u.$about-heading-width auto;
  }
  align-items: center;
}

.photo {
  max-width: 20rem;

  * {
    display: block;
    width: 100%;
  }

  img {
    height: auto;
    width: 100%;
  }
}
