@use '../../../css/util' as u;

.online {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;

  @media print {
    [aria-describedby] {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      flex-grow: 1;
      gap: 0.25rem;
      flex-wrap: wrap;
    }
    [role='tooltip'] {
      display: block !important;
      width: min-content;
      position: static;
      transform: none;
      font-size: u.fs(-1);
      background: none;
      box-shadow: none;
      text-align: left;
      padding: 0;
      margin: 0;
    }
  }
}

.card {
  margin: 0;
  padding: 0.5em;
  text-align: center;
  @media print {
    box-shadow: none;
    background: none;
    border: none;
    padding: 0;
  }
}

.profile {
  display: flex;
  flex-direction: row;
}

.icon {
  display: block;
  font-size: u.fs(1);
}
