// TODO: Fix up functions
@use 'sass:math';
@use './variables' as u;

@function fs($size: 0) {
  @return math.pow(1.4, $size) * 1rem;
}

@function space($count: 1) {
  @return $count * 1rem;
}

@mixin glass() {
  backdrop-filter: blur(0.6rem);
  background-color: var(--theme-glass);
}

@function shadow($size: 1) {
  @return $size * 1px $size * 1px $size * 0.6rem rgba(0, 0, 0, 0.1);
  // $lightness: props.theme.palette.hsl[2];
  // $shadow:
  //   $lightness > 0.2
  //     ? rgba(0,0,0, #{1.3 - lightness / 4})
  //     : rgba(255,255,255,.05);
  // @return $size * 1px $size * 1px $size * 4px $shadow;
  // @return none;
}

@mixin card() {
  background-color: var(--theme-main);
  padding: u.$card-padding;
  border-radius: u.$border-radius;
  overflow: hidden;
  border: 1px solid var(--theme-mainAlt);
  box-shadow: shadow();
}
