.PrintPageBreak {
  display: none;

  @media print {
    display: block;
    height: 3rem;
    break-before: always;
    page-break-before: always;
    break-inside: avoid;
    page-break-inside: avoid;
    break-after: avoid;
    page-break-after: avoid;
  }
}
