@use '../util' as u;

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body,
#root {
  padding: 0;
  margin: 0;
  min-width: 260px;
  -webkit-print-color-adjust: exact !important;
}

/* GENERAL BASE */
html {
  background-color: var(--theme-main);
  color: var(--theme-contrast);
  fill: currentColor;
  position: relative;
  cursor: url(/img/cursor.png) 16 16, auto;
  cursor: -webkit-image-set(url(/img/cursor.png) 1x, url(/img/cursor-64.png) 2x)
      16 16,
    auto;
  color: var(--theme-contrast);
}

.screen-reader-text {
  /* ${hideVisually()} */
}

a {
  color: inherit;
  text-decoration: underline;
}
a:hover,
a:focus {
  text-decoration: underline wavy;
}
a:visited {
  /* color: $link-c--visited; */
}

// Scrollbars
::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: var(--theme-main);
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 0.25rem;
  min-height: 2rem;
  background-color: var(--theme-complementary);
}

// html::-webkit-scrollbar-track,
// body::-webkit-scrollbar-track {
//   background-color: var(--theme-complementary);
//   border-radius: 0;
// }
// body::-webkit-scrollbar-thumb {
//   background-color: var(--theme-main);
// }

// Selection
::selection {
  background-color: var(--theme-complementary);
}
