/*
Font: 		Codec Pro
Style: 		Regular
URL: 		https://www.youworkforthem.com/font/T11634/codec-pro
Foundry: 	Zetafonts
Foundry: 	https://www.youworkforthem.com/designer/800/zetafonts
Copyright:	Copyright © 2019 by Cosimo Lorenzo Pancini & Francesco Canovaro. All rights reserved.
Version: 	17
Created:	December 06, 2019
License: 	https://www.youworkforthem.com/font-license 
License: 	The WebFont(s) listed in this document must follow the YouWorkForThem
			WebFont license rules. All other parties are strictly restricted 
			from using the WebFonts(s) listed without a purchased license. 
			All details above must always remain unaltered and visible in your CSS.
*/

@font-face {
  font-family: 'Codec Pro';
  src: url('/fonts/codec-pro-regular.eot');
  src: url('/fonts/codec-pro-regular.eot?#iefix') format('embedded-opentype'),
    url('/fonts/codec-pro-regular.woff2') format('woff2'),
    url('/fonts/codec-pro-regular.woff') format('woff'),
    url('/fonts/codec-pro-regular.ttf') format('truetype'),
    url('/fonts/codec-pro-regular.svg#youworkforthem') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Genera';
  src: url('/fonts/genera-semibold.woff2') format('woff2'),
    url('/fonts/genera-semibold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}
