@media print {
  @page {
    margin: 1rem 0;
    background: var(--theme-main);
  }

  // Fill whole page with color.
  html::before {
    content: '';
    display: block;
    position: fixed;
    inset: 0;
    background: var(--theme-main);
    z-index: -6; // Behind background layer.
  }

  body {
    position: relative;
    width: 100% !important;
    margin: 0 !important;
    padding: 0 !important;
    color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .main-header {
    display: none;
  }

  .grid {
    display: block;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    page-break-after: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  img,
  tr {
    page-break-inside: avoid;
  }
}
