:root {
  --card-padding: 1rem;
  --border-radius: 3px;
  --content-width: 550px;
  --mid-break: calc(34rem + 290px);
  --content-width: 34rem;
  --side-width: 18rem;
  --mid-break: 52rem;
  --header-height: 4rem;
  --width-normal: 50rem;
  --width-wide: 70rem;

  // Theme is now set in _document

  // Boring white theme by default
  // --theme-main: #e3e3e3;
  // --theme-mainAlt: #d4d4d4;
  // --theme-complementary: #828282;
  // --theme-gradient-0: #e3e3e3;
  // --theme-gradient-1: #d0d0d0;
  // --theme-gradient-2: #bcbcbc;
  // --theme-gradient-3: #a9a9a9;
  // --theme-gradient-4: #959595;
  // --theme-gradient-5: #828282;
  // --theme-contrast: #484848;
  // --theme-border: #b6b6b6;
  // --theme-glass: rgba(130, 130, 130, 0.1);

  // // Boring black theme for dark mode peeps
  // Makes for bad flash on start
  // @media (prefers-color-scheme: dark) {
  //   --theme-main: #171717;
  //   --theme-mainAlt: #222222;
  //   --theme-complementary: #676767;
  //   --theme-gradient-0: #171717;
  //   --theme-gradient-1: #272727;
  //   --theme-gradient-2: #373737;
  //   --theme-gradient-3: #474747;
  //   --theme-gradient-4: #575757;
  //   --theme-gradient-5: #676767;
  //   --theme-contrast: #e4e4e4;
  //   --theme-border: #393939;
  //   --theme-glass: rgba(103, 103, 103, 0.1);
  // }
}

@import './base';
@import './typography';
@import './media';
@import './forms';
@import './helpers';
@import './layout/layout';
@import './layout/header';
@import './layout/nav';
@import './layout/footer';
