:root {
  --color-main: #ff94b4;
  --color-main--alt: #ffa3c3;
  --color-main--border: #ffc1e1;
  --color-complementary: #94ffdf;
  --color-contrast: #724250;
  --background-image: url(https://twitter-topography-banner.glitch.me/3240/2160/ff94b4);
  --card-padding: 1rem;
  --border-radius: 3px;
  --content-width: 550px;
  --mid-break: calc(34rem + 290px);
  --content-width: 34rem;
  --side-width: 18rem;
  --mid-break: 52rem;
  --header-height: 4rem;
  --width-normal: 50rem;
  --width-wide: 70rem;
}

@import './base';
@import './typography';
@import './media';
@import './forms';
@import './helpers';
@import './layout/layout';
@import './layout/header';
@import './layout/nav';
@import './layout/footer';
