@use '../util/' as u;

.card {
  background-color: var(--theme-main);
  padding: u.$card-padding;
  margin-bottom: u.space(2);
  border-radius: u.$border-radius;
  overflow: hidden;
  border: 1px solid var(--theme-mainAlt);
  box-shadow: u.shadow();
  // @include u.glass();

  &.is-hightlighted {
    box-shadow: 2px 0px 0 var(--theme-contrast),
      2px -2px 0 var(--theme-contrast), -2px 0px 0 var(--theme-contrast),
      -2px -2px 0 var(--theme-contrast);
  }
}

.card--glass {
  @include u.glass();
}

// TODO: Convert this stuff to components
// .card__action-name {
//   font-size: 0.7em;
//   background-color: var(--theme-main);
//   padding: 0.7em $card-padding;
// }

// .content-container__title {
//   // color: #fff;
//   font-size: ${mixin.fs( 1)};
//   @media (min-width:${({theme}) => theme.midBreak}) {
//     // color: #5c5c5c;
//     font-size: ${mixin.fs( 2)};
//   }
// }

// .h-entry .h-cite .is-long-content {
//   @include scut-hide-visually();
//

.card__title {
  font-size: u.fs(2);
  margin-top: 0;
  margin-bottom: u.space(1);
}

.card__breakout {
  display: block;
  overflow: hidden;
  clear: both;
  background-color: var(--theme-mainAlt);
  margin: u.$card-padding 0 - u.$card-padding;
  // @include u.glass();

  .title + & {
    margin-top: 0;
  }

  & + & {
    margin-top: 0 - u.$card-padding;
  }

  &:first-child {
    margin-top: 0 - u.$card-padding;
  }
  &:last-child {
    margin-bottom: 0 - u.$card-padding;
  }

  & > img {
    display: block;
    width: 100%;
  }
}

.card__breakout--padded {
  padding: u.$card-padding;
}

.card__actions {
  display: flex !important;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  background-color: var(--theme-mainAlt);
  .card__breakout + & {
    margin-top: 0 - u.$card-padding;
  }
}

.card__actions__button {
  font-size: 0.8em;
  box-shadow: none;
  border-radius: 0;
}

.card__actions__text {
  display: inline-block;
  font-size: 0.7em;
  margin-right: 1em;
  vertical-align: middle;
}
