@use '../util' as u;

// .post {
//   .has-replies & {
//     margin-bottom: u.space( 1);
//   }
// }

.post__title {
  .post--like-of &,
  .post--bookmark & {
    font-size: u.fs(0);
  }
}

.post__header {
  background-color: var(--color-main);
  margin-bottom: 0;
}

.post__header--featured {
  overflow: hidden;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  min-height: 13rem;

  .post__title {
    text-decoration: overline wavy;
    margin: 0;
  }
}

.post__action {
  padding: u.$card-padding;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: u.fs(-1);
  .post__footer + & {
    margin-top: 0 - u.$card-padding;
  }
}

.post__read-more {
  display: block !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: u.space();
  margin-bottom: u.space();
}

.post__footer {
  padding: u.space(0.5) u.$card-padding;
  font-family: u.$font-mono;
  opacity: 0.7;

  &,
  & * {
    line-height: 1.2;
    font-size: u.fs(-2);
  }

  /* Child component doesn't work for some reason? Maybe it is not a default styled component or something? */
  /* ${Avatar} { */
  .h-card {
    display: inline-block;
    text-decoration: none;
    font-size: 0.5em;
    margin-top: -0.25em;

    .p-name {
      text-decoration: underline;
      :hover {
        text-decoration: underline wavy;
      }
    }
  }
}

.post__content {
  > p:first-child {
    margin-top: 0;
  }
}

.face {
  display: inline-block;
  margin: 0 0.4rem 0.4rem 0;

  a {
    display: block;
    text-decoration: none;
  }
}
