@use '../util' as u;

.search {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: stretch;
  margin-top: 1rem;
  margin-bottom: 1rem;
  box-shadow: u.shadow(2);
  border-radius: u.$border-radius;
  border: 2px solid var(--theme-complementary);
  font-size: 1rem;
  transition: border-color 0.2s;
  @media (min-width: u.$mid-break) {
    font-size: 0.9rem;
  }

  &:has(.search__input:focus-visible, .search__button:focus-visible) {
    border-color: var(--theme-contrast);
  }
}

// Specificity hack needed 😢
.search .search__input:not([type='checkbox']):not([type='radio']) {
  margin: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;
  border-color: transparent;
  font-size: inherit;
  min-width: 5em;
  @include u.glass();
}

.search__button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  box-shadow: none;
  font-size: inherit;
}
