.map {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

.post-container {
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 5;
}
.post-container--hidden {
  visibility: hidden;
  pointer-events: none;
}

.post {
  position: relative;
  max-width: 20em;
  margin: auto;
  background: var(--color-main);

  // TODO: This probably won't work
  > .post > .card {
    margin: 0;
  }
}
