@use '../../../css/util' as u;

$title-size: 1.6rem;
$breakpoint: 'min-width: 36em';

@mixin break($before: avoid, $after: avoid, $inside: avoid) {
  break-before: $before;
  page-break-before: $before;
  break-inside: $inside;
  page-break-inside: $inside;
  break-after: $after;
  page-break-after: $after;
}

.section {
  display: block;
  margin-top: 4rem;
  @media print {
    margin: 0;
    padding: 0;
    margin-bottom: 1rem;

    h4 {
      font-size: u.fs(0);
    }
    h5 {
      font-size: u.fs(-0.5);
    }
  }
}

.title {
  font-size: $title-size;
  margin: 0;
  margin-block-end: 0.5rem;
  line-height: 1.2;
  @media ($breakpoint) {
    // position: sticky;
    // top: 0;
    width: u.$about-heading-width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;

    @media print {
      position: static;
      margin-bottom: 1rem;
      font-size: u.fs(1);
    }
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: u.$about-gap;

  @media print {
    font-size: u.fs(-1);
    gap: 1rem;
  }

  & > * {
    margin: 0;
  }

  p:first-child {
    margin-block-start: 0;
  }
  p:last-child {
    margin-block-end: 0;
  }
}

.subsection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: u.$about-gap;
  margin: 0;

  @media ($breakpoint) {
    flex-direction: row;
  }

  // @media print {
  //   &:not(:first-child) {
  //     padding-block-start: 1rem;
  //     border-block-start: 2px solid var(--theme-border);
  //   }
  // }
}

.subtitle {
  font-size: 1rem;
  flex-shrink: 0;
  margin-block-start: 0;
  line-height: 1.2;
  @media print {
    font-size: u.fs(-0.5);
  }

  @media ($breakpoint) {
    width: u.$about-heading-width;

    @media print {
      position: static;
    }
  }

  * {
    margin: 0;
  }

  h4,
  h5 {
    font-size: 1em;
    display: inline;
    &:last-of-type::after {
      content: '';
      display: block;
    }
  }

  time {
    font-size: u.fs(-1);
  }

  :global(.p-name + .p-location::before) {
    content: ' @ ';
    margin-block-end: 0;
  }
}

.subcontent {
  composes: content;
  gap: 0.5rem;
}
