@use '../../../css/util' as u;

$title-size: 1.6rem;
$breakpoint: 'min-width: 40em';

.section {
  display: block;
  margin-top: 4rem;
  @media print {
    margin-top: 2rem;
  }
}

.title {
  font-size: $title-size;
  margin: 0;
  line-height: 1.2;
  @media ($breakpoint) {
    position: sticky;
    top: 0;
    width: u.$about-heading-width;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;

    @media print {
      position: static;
    }
  }
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: u.$about-gap;

  & > * {
    margin: 0;
  }

  *:first-child {
    margin-top: 0;
  }

  *:last-child {
    margin-bottom: 0;
  }
}

.subsection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: u.$about-gap;
  margin: 0;

  @media ($breakpoint) {
    flex-direction: row;
  }

  @media print {
    break-inside: avoid;
    page-break-after: auto;
    page-break-before: auto;
    page-break-inside: avoid;
  }
}

.subtitle {
  font-size: 1rem;
  flex-shrink: 0;

  @media ($breakpoint) {
    position: sticky;
    top: $title-size * 1.2;
    width: u.$about-heading-width;

    @media print {
      position: static;
    }
  }

  * {
    margin: 0;
  }

  time {
    font-size: u.fs(-1);
  }
}

.subcontent {
  composes: content;
  gap: 0.5rem;
}
