@use '../util/' as u;

.wrapper {
  text-shadow: 0 0 4em rgba(0, 0, 0, 0.6);
}

.section {
  display: block;
  margin-bottom: 6rem;

  @media print {
    page-break-inside: avoid;
    break-inside: avoid;
    padding: 2rem 1rem 0 1rem;
  }

  &::after {
    content: '';
    display: block;
    clear: both;
  }
}

.section__title {
  margin-top: 0;
  margin-bottom: 1rem;
  font-size: 2rem;
}

.ul {
  list-style: none;
  margin: 0;
  padding: 0;

  @media print and (min-width: 30em) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    & > li {
      width: 48%;
      width: calc(50% - 1rem);
    }
  }
}

.details {
  padding-left: 2rem;
  max-width: 46rem;

  summary {
    cursor: pointer;
    outline: none;
    margin-left: -2rem;

    @media print {
      &::-webkit-details-marker {
        display: none;
      }
    }
  }
}

.profile__avatar-marker {
  @media print {
    width: 20rem;
    max-width: 100%;
  }

  img {
    max-width: calc(100% - 4rem);
    max-height: calc(100% - 4rem);
  }
}

.profile__description {
  font-size: 1.4em;
}

.profiles {
  &::after {
    content: '';
    display: block;
    clear: both;
  }

  dt {
    display: block;
    padding: 0;
    margin: 0;
    width: 15rem;
    max-width: 100%;

    @media (min-width: 40em) {
      float: left;
      clear: both;
    }
  }

  dd {
    display: block;
    padding: 0;
    margin: 0 0 1.5rem 0;
    @media (min-width: 40em) {
      margin-bottom: 0.5rem;
      float: left;
      max-width: 100%;
    }
  }
}

$breakpoint: 50rem;

.event {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 2rem;

  @media (min-width: $breakpoint) {
    flex-direction: row;
    max-width: 54rem;
  }
}

.event__left {
  margin-bottom: 0.5rem;
  @media (min-width: $breakpoint) {
    flex-grow: 0;
    flex-shrink: 0;
    width: 15rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
  }
}

.event__right {
  flex-grow: 1;
}

.event__title {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.event__subtitle {
  margin: 0;
  font-size: 1.2rem;
  @media (min-width: $breakpoint) {
    margin-bottom: 0.5rem;
  }
}

.event__time {
  font-size: 0.9rem;
  opacity: 0.8;
}
