// Nav
@use '../util' as u;

.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  grid-area: nav;
  position: fixed;
  left: 100%;
  top: 0;
  bottom: 0;
  overflow: auto;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 18rem;
  max-width: 100%;
  z-index: 9;
  font-size: 2em;
  // background: var(--color-main--alt);
  @include u.glass();
  box-shadow: u.shadow();
  transition: transform 0.4s;
  transform: translateX(0%);

  &.is-target,
  &:target {
    transform: translateX(-100%) !important;
  }

  @media (min-width: u.$mid-break) {
    .container:not(.single-article) & {
      font-size: 1rem;
      padding: 0;
      position: sticky;
      align-self: flex-start;
      right: auto;
      background: none;
      backdrop-filter: none;
      box-shadow: none;
      transform: none;
      z-index: 1;
      width: auto;
      top: u.$header-height + u.space(2) + u.space(2);
      bottom: auto;
      left: auto;
      max-height: calc(
        100vh - #{u.$header-height} - #{u.$header-height} - 4rem
      );

      &.is-target,
      &:target {
        transform: none !important;
      }
    }
    .container.right-aligned & {
      justify-self: end;
      align-items: flex-end;
    }
    .container.single-article & {
      position: fixed;
    }
  }

  @media print {
    display: none;
  }
}

.main-nav-toggle {
  text-decoration: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  text-align: center;
  line-height: 1rem;
  z-index: 10;
  box-shadow: u.shadow();
  opacity: 0.9;
  cursor: pointer;
  display: block;
  border-bottom-left-radius: u.$border-radius;
  @include u.glass();
  @media (min-width: u.$mid-break) {
    display: none;
    .container.single-article & {
      display: block;
    }
  }

  @media print {
    display: none;
  }

  .icon {
    display: block;
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.4em;
  }
}

.main-nav__ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: u.$mid-break) {
    .container:not(.single-article) & {
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
    }
    .container.right-aligned & {
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      flex-wrap: nowrap;
    }
  }
}

.main-nav__li {
  display: block;
  flex-grow: 0;
  @media (min-width: u.$mid-break) {
    margin-bottom: 0.2em;
    min-width: 48%;
    .main-nav.is-target &,
    .main-nav:target & {
      min-width: 48%;
    }
    .container.right-aligned & {
      text-align: right;
      min-width: auto;
    }
  }
}

.main-nav__link {
  display: inline-block;
  text-shadow: u.shadow(1);
  font-size: u.fs(1);
  font-weight: 900;
}

.main-nav__link--hidden {
  @media (min-width: u.$mid-break) {
    display: none !important;
  }
}

.main-nav__link--more {
  display: none;
  @media (min-width: u.$mid-break) {
    display: block;
  }
  .main-nav.is-target,
  .main-nav:target & {
    display: none;
  }
}

.main-nav__link--webring {
  display: block;
  white-space: nowrap;
}
