// Nav
@use '../util' as u;

.main-nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-area: nav;
  position: fixed;
  left: 100%;
  top: 0;
  bottom: 0;
  overflow: auto;
  transform: translateX(0%);
  &:target,
  &.is-target {
    transform: translateX(-100%);
  }
  transition: transform 0.4s;
  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 18rem;
  max-width: 100%;
  z-index: 9;
  font-size: 2em;
  // box-shadow: u.shadow();
  // @include u.glass();
  &:target {
    transform: translateX(-100%);
  }
  @media (min-width: u.$mid-break) {
    body:not(.single-article) & {
      font-size: 1rem;
      padding: 0;
      position: sticky;
      align-self: flex-start;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-between;
      right: auto;
      background: none;
      backdrop-filter: none;
      box-shadow: none;
      transform: none;
      z-index: 1;
      width: auto;
      top: u.$header-height + u.space(2) + u.space(2);
      bottom: auto;
      max-height: calc(
        100vh - #{u.$header-height} - #{u.$header-height} - 4rem
      );
    }
    .container.right-aligned & {
      justify-self: end;
      align-items: flex-end;
    }
    .container.single-article & {
      position: fixed;
    }
  }

  @media print {
    display: none;
  }
}

.main-nav-toggle {
  text-decoration: none;
  position: fixed;
  top: 0;
  right: 0;
  width: 2.5rem;
  height: 2.5rem;
  padding: 1.5rem / 2rem;
  text-align: center;
  line-height: 1rem;
  // @include u.glass()
  z-index: 10;
  box-shadow: u.shadow();
  opacity: 0.9;
  border-bottom-left-radius: var(--border-radius);
  border-left: 1px solid var(--color-main--border);
  border-bottom: 1px solid var(--color-main--border);
  cursor: pointer;
  display: block;
  @media (min-width: u.$mid-break) {
    display: none;
    .container.single-article & {
      display: block;
    }
  }

  @media print {
    display: none;
  }
}

.main-nav__link {
  display: inline-block;
  text-shadow: u.shadow(1);
  font-size: u.fs(2);
  flex-grow: 0;
  @media (min-width: u.$mid-break) {
    // display: none;
    margin-bottom: 0.2em;
    font-size: u.fs(1);
    min-width: 48%;
    .main-nav:target & {
      display: block;
    }
  }

  .main-nav:target & {
    display: inline-block;
  }
}

.main-nav__link--hidden {
  @media (min-width: u.$mid-break) {
    display: none;
  }
}

.main-nav__link--more {
  display: none;
  @media (min-width: u.$mid-break) {
    display: block;
  }
  .main-nav:target & {
    display: none;
  }
}

.main-nav__link--webring {
  display: block;
  white-space: nowrap;
}
